body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}
.container-fluid-override{
  padding: 0px;
  margin: auto;
}
.carousel-wrapper{
  margin-left: auto;
  margin-right: auto;
  height: 60%;
  width: 60%;
}

.carousel-item > img{
  width: 100%;
  height: 100%;
}
.dropdown-toggle{
  color: rgba(255,255,255,.5);
}
.dropdown-toggle:hover{
  color: rgba(255,255,255,.8);
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; // remove the gap so it doesn't close
}
.dropdown-toggle::after{
  display: none;
}